# ---------------------------------------------------------------------------
# GCP GKE
# ---------------------------------------------------------------------------

# GCP credentials
# Auth: gcloud auth login && gcloud auth application-default login
export TF_VAR_project_id=""
export TF_VAR_region="europe-west2"
export TF_VAR_location="europe-west2-a"
export TF_VAR_environment="production"

# Cluster
export TF_VAR_cluster_name="gcp-starter"
export TF_VAR_cloud_provider="gcp"
export CLUSTER=gcp-starter

# State backend (GCS bucket you created in the prerequisites)
export TF_VAR_state_bucket=""
